[user]
	name = rnddude
	email = rnddude@icloud.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
[alias]
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
  	d = diff
	dc = diff --cached
	l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
